/*
    Light Primary Grey: #d7ccc8
    Primary Brown: #795548
    Dark Primary Brown: #5d4037
    Accent Gold: #ffc107
    Primary Black Text: #212121
    Secondary Grey Text: #757575
    Text/Icons: #FFFFFF
    Divider Color Light Grey: #BDBDBD
*/

body {
    font-size: 12px;
    font-family: sans-serif;
    color: #212121;

    padding-top: 2.25rem;

    background-color: #888888;
    background-image: url(./images/keith-misner-wood.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4 {
    color: #333333;
    font-weight: bold;
}

h1,
h2 {
    font-family: 'georgia', serif;
    margin: 0;
}

h2 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

footer {
    margin: 2rem 0;
    text-align: center;
}

.header {
    left: 50%;
    text-align: center;
}

.flash {
    width: 100%;
    background: #d7ccc8;
}

.btn {
    font-weight: bold;
}

.nav {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 2.25rem;
    background-color: #d7ccc8;
    float:right;
}
.nav > * {
    margin-right: 0;
}

.sign-in {
    display: none;
    margin: auto 1rem auto auto;
    float:right;
}
.sign-out {
    display: none;
    margin: auto 1rem auto auto;
    padding: 0.5rem 1rem 0.5rem;
    background: #FFFFFF;
}
.sign-out a {
    display: block;
    margin: auto;
    color: #212121;
    font-weight: bold;
}

.container {
    padding-top:2rem;
    background-color: #f0ead6;
    border: solid black .15rem;
}

.rest-name {
    font-size: 1.15rem;
}

table {
    border: solid black .1rem;
    border-top: solid black .125rem;
}
table a {
    color: #333333;
}

.auth-btns {
    display:none;
}

.inline-blocks>* {
    display:inline-block;
    height: 1.5rem;
}
.inline-blocks .btn {
    margin: 0;
    padding: 0;
}

.float-right {
    float:right;
}

.restaurant .btn {
    min-width: 5rem;
}
.restaurant .btn:first-child {
    margin-right: 1rem;
}

.edit-rest-name {
    max-width: 25rem;
    margin: auto;
}

.restaurant-menu {
    width:100%;
    padding:2rem;
    background-color: white;
    color: black;
}
.restaurant-menu table { 
    border: none;
}
.restaurant-menu td {
    width: 50%;
    vertical-align: top;
}

.menu-header {
    text-align: center;
    vertical-align: middle;
    height:5rem;
    padding-top: .9rem;
}

.course-header {
    width: 100%;
    height: 4rem;
    padding-top: 1rem;
    padding-left: 1rem;
    text-align: left;
}
  
.menu-item {
    width:100%;
    padding: 5px 0;
    display:grid;
    grid-gap: 0;
    grid-template-columns: [col] 80% [col] 20%;
    grid-template-rows: [row] auto [row] auto;
}
  
.item-name {
    grid-column: col 1;
    grid-row: row 1;
    font-size:1.15rem;
    font-weight: bold;
    border-bottom: dotted black 1px;
}
.item-price {
    grid-column: col 2;
    grid-row: row 1;
    font-size:1rem;
    text-align: right;
    border-bottom: dotted black 1px;
}
.item-description {
    width:75%;
    padding-left: 0.5rem;
    grid-column: col / span 2;
    grid-row: row 2;
    font-size: .9rem;
    font-style: italic;
}