<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Add Restaurant</h1>

    <h3>Name your new restaurant</h3>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('Add_Restaurant') }}">
      <label>Name: </label><input type=text name="rest_name">
      <br><br>

      <input type=submit value="Confirm">&nbsp;
      <input type="button" onclick="window.location.href = '{{ url_for('Show_All_Restaurants') }}';" value="Cancel"/>
    </form>
  </body>
</html>