<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Add Restaurant</h1>

    <h3>Name your new restaurant</h3>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('Add_Restaurant') }}">
      <label>Name: </label><input type=text name="rest_name">

      <input type=submit value="Confirm">&nbsp;
      <input type="button" onclick="window.location.href = '{{ url_for('Show_All_Restaurants') }}';" value="Cancel"/>
    </form>
  </body>
</html>