<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel=stylesheet type=text/css href="../static/styles.css">
  </head>
  <body>
    <div class="container col-sm-12 col-md-6">
      <div class="row d-flex align-items-center justify-content-center page-header">
        <h1 class="text-center">Add Menu Item</h1>
      </div>
      <br><br>
      <h4 class="text-center">{{ restaurant.name }}</h4>
      <br>
      <div class="row">
        <div class="mx-auto">
          <form method="POST" class="col-sm-12" enctype="multipart/form-data" action="{{ url_for('Add_Menu_Item', rest_id=restaurant.id) }}">
            <div class="form-group row">
              <div class="col-sm-6">
                <input type=text class="form-control" id="item_name" name="item_name" placeholder="Item Name">
              </div>
              <div class="col-sm-6">
                <input type=text class="form-control" id="item_price" name="item_price" placeholder="$5.99">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <select class="custom-select" id="item_course" name="item_course">
                  <option selected>Choose Item Course...</option>
                  <option value="Beverage">Beverage</option>
                  <option value="Appetizer">Appetizer</option>
                  <option value="Entree">Entree</option>
                  <option value="Dessert">Dessert</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <textarea class="form-control" id="item_description" name="item_description" rows="3" placeholder="Describe the item here"></textarea>
              </div> 
            </div>
            <br><br>
            <div class="text-center">
              <input type=submit class="btn btn-success" value="Confirm">&nbsp;
              <input type=button class="btn btn-danger" onclick="window.location.href = '{{ url_for('Edit_Restaurant', rest_id=restaurant.id) }}';" value="Cancel">
            </div>
          </form>
        </div>
      </div>
      <footer>
        &copy; Justin Tadlock<br><br>
        Background courtesy of <br>
        <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@keithmisner?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Keith Misner"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Keith Misner</span></a>
      </footer>
    </div>
  </body>
</html>