<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Delete Menu Item</h1>

    <h3>Are you sure you want to delete the item with the following information?</h3>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('Delete_Menu_Item', rest_id=restaurant.id, item_id=item.id) }}">
      <table>
        <tr>
          <td><label>Restaurant Name: </label></td>
          <td>{{ restaurant.name }}</td>
        <tr>
          <td><label>Item Name: </label></td>
          <td>{{ item.name }}</td>
        </tr>
        <tr>
          <td><label>Item Price: </label></td>
          <td>{{ item.price }}</td>
        </tr>
        <tr>
          <td><label>Item Course: </label></td>
          <td>{{ item.course }}</td>
        </tr>
        <tr>
          <td><label>Item Description: </label></td>
          <td><input type=textarea value="{{ item.description }}" readonly=true></td>
        </tr>
      </table>
      <br>
      
      <input type=submit value="Confirm">&nbsp;
      <input type=button onclick="window.location.href = '{{ url_for('Edit_Restaurant', rest_id=restaurant.id) }}';" value="Cancel">
    </form>
  </body>
</html>