<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Delete Menu Item</h1>
      <br>
      <h3 class="text-center">Are you sure you want to delete the item with the following information?</h3>
      <br>
      <form method="POST" class="col-sm-12" enctype="multipart/form-data" action="{{ url_for('Edit_Menu_Item', rest_id=restaurant.id, item_id=item.id) }}">
        <div class="form-group row">
          <div class="col-sm-12 col-md-6">
            <input type=text class="form-control" id="item_name" name="item_name" value="{{ item.name }}" readonly>
          </div>
          <div class="col-sm-12 col-md-6">
            <input type=text class="form-control" id="item_price" name="item_price" value="{{ item.price }}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 col-md-12">
            <input type=text class="form-control" id="item_course" name="item_course" value="{{ item.course }}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <textarea class="form-control" id="item_description" name="item_description" rows="3" readonly>{{ item.description }}</textarea>
          </div> 
        </div>
        
        <div class="form-group row">
          <div class="mx-auto">
            <input type=submit class="btn btn-success" value="Confirm">&nbsp;
            <input type=button class="btn btn-danger" onclick="window.location.href = '{{ url_for('Edit_Restaurant', rest_id=restaurant.id) }}';" value="Cancel">
          </div>
        </div>
      </form>
    </div>
  </body>
</html>