<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Edit Restaurant</h1>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
      <br><br>
      {% endwith %}
      
      <form method="POST" enctype="multipart/form-data" action="{{ url_for('Edit_Restaurant', rest_id=restaurant.id) }}">
        <div class="text-center edit-rest-name">
          <div class="form-group row">
            <label for="rest_name" class="col-sm-2 col-form-label">Name:</label>
            <div class="col">
              <input type="text" class="form-control" id="rest_name" name="rest_name" value="{{ restaurant.name }}">
            </div>
          </div>

          <input type=submit class="btn btn-success" value="Confirm">&nbsp;
          <input type="button" class="btn btn-danger" onclick="window.location.href = '{{ url_for('Show_All_Restaurants') }}';" value="Cancel"/><br><br>
        </div>
        
        <div class="restaurant-menu">
          <h3>Menu Items</h3>
          <a class="btn btn-primary mb-10" href="{{ url_for('Add_Menu_Item', rest_id=restaurant.id) }}">Add menu item</a>
          <br><br>
          <table class="table">
            <tr>
              <td>
                <div class="course-header">
                  <h3>Appetizers</h3>
                </div>
                {% if appetizer_items != [] %}
                  {% for item in appetizer_items %}
                  <div class="menu-item">
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-price">{{ item.price }}</div>
                    <div class="item-description">{{ item.description }}</div>
                  </div>
                  <div class="float-right">
                    <a class="btn btn-warning" href="{{ url_for('Edit_Menu_Item', rest_id=restaurant.id, item_id=item.id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('Delete_Menu_Item', rest_id=restaurant.id, item_id=item.id) }}">Delete</a>
                  </div>
                  {% endfor %}
                {% else %}
                  <p class="blue-bg">There are currently no appetizer items for this restaurant</p>
                {% endif %}
              </td>
              <td>
                <div class="course-header">
                  <h3>Beverages</h3>
                </div>
                {% if drink_items != [] %}
                  {% for item in drink_items %}
                  <div class="menu-item">
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-price">{{ item.price }}</div>
                    <div class="item-description">{{ item.description }}</div>
                  </div>
                  <div class="float-right">
                    <a class="btn btn-warning" href="{{ url_for('Edit_Menu_Item', rest_id=restaurant.id, item_id=item.id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('Delete_Menu_Item', rest_id=restaurant.id, item_id=item.id) }}">Delete</a>
                  </div>
                  {% endfor %}
                {% else %}
                  <p class="blue-bg">There are currently no drink items for this restaurant</p>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>
                <div class="course-header">
                  <h3>Entrees</h3>
                </div>
                {% if entree_items != [] %}
                  {% for item in entree_items %}
                  <div class="menu-item">
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-price">{{ item.price }}</div>
                    <div class="item-description">{{ item.description }}</div>
                  </div>
                  <div class="float-right">
                    <a class="btn btn-warning" href="{{ url_for('Edit_Menu_Item', rest_id=restaurant.id, item_id=item.id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('Delete_Menu_Item', rest_id=restaurant.id, item_id=item.id) }}">Delete</a>
                  </div>
                  {% endfor %}
                {% else %}
                  <p class="blue-bg">There are currently no entree items for this restaurant</p>
                {% endif %}
              </td>
              <td>
                <div class="course-header">
                  <h3>Desserts</h3>
                </div>
                {% if dessert_items != [] %}
                  {% for item in dessert_items %}
                  <div class="menu-item">
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-price">{{ item.price }}</div>
                    <div class="item-description">{{ item.description }}</div>
                  </div>
                  <div class="float-right">
                    <a class="btn btn-warning" href="{{ url_for('Edit_Menu_Item', rest_id=restaurant.id, item_id=item.id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('Delete_Menu_Item', rest_id=restaurant.id, item_id=item.id) }}">Delete</a>
                  </div>
                  {% endfor %}
                {% else %}
                  <p class="blue-bg">There are currently no dessert items for this restaurant</p>
                {% endif %}
              </td>
            </tr>
          </table>
          <br><br>
          <div class="text-center">
            <input type=submit class="btn btn-success" value="Confirm">&nbsp;
            <input type="button" class="btn btn-danger" onclick="window.location.href = '{{ url_for('Show_All_Restaurants') }}';" value="Cancel"/><br><br>
          </div>
        </div>
      </form>
      <footer>
        &copy; Justin Tadlock<br><br>
        Background courtesy of <br>
        <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@keithmisner?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Keith Misner"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Keith Misner</span></a>
      </footer>
    </div>
  </body>
</html>