<!DOCTYPE html>
<html>
    <head>
        <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="759537087865-l2b63nripn279cqq57ughkbvn71itkpd.apps.googleusercontent.com">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
        <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
    </head>
    <body>  
        <!-- GOOGLE PLUS SIGN IN BUTTON-->
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <div id="result"></div>
        <a href="#" onclick="signOut();">Sign Out</a>
        <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');

                $.ajax({
                    type: 'POST',
                    url: '/gdisconnect',
                    headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                    },
                    contentType: 'application/octet-stream; charset=utf-8',
                    success:function(result){
                        if (result.status === 'success') {
                            $('#result').html('Log out successful!<br>' + result + '<br>Redirecting...');
                            setTimeout(function() {
                                window.location.href="/";
                            }, 4000);
                        }
                        else if (result.status === 'error') {
                            $('#result').html('Log out failed!');
                        }
                    },
                    processData:false
                });
            });
        }
        function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;

            if ( id_token != '') {
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                    },
                    contentType: 'application/octet-stream; charset=utf-8',
                    success:function(result) {
                        console.log(result);
                        if (result == 200) {
                            $('#result').html("Login successful!");
                            setTimeout(function() {
                                window.location.href="/";
                            }, 4000);
                        }
                        else if (result.status === 'error') {
                            $('#result').html('Login failed!');
                        }
                        else {
                            $('#result').html("Failed all");
                        }
                    },
                    error:function(result) {
                        console.log(result);
                        $('#result').html(result.responseText);
                    },
                    processData:false,
                    data:id_token
                });
            }
            
            console.log("ID Token: " + id_token);
        }
        </script>
    </body>
</html>