<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <h1>Show All Menu Items</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li><strong>{{ message }}</strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <h3>Menu Items</h3>
    <table>
      {% for item in menu_items %}
      <tr>
        <td>
          <i>{{ item.name }}</i>&#9;{{ item.price }}
          <p>&#9;{{ item.description }}</p>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>