<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="759537087865-l2b63nripn279cqq57ughkbvn71itkpd.apps.googleusercontent.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  </head>
  <body>
    <div class="container">
      <div class="float-right">
        <a href="#" onclick="signOut();">Sign out</a>
        <script>
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
            });
        }
        </script>
      </div>
      <h1 class="text-center">Restaurant Catalog</h1>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <br>

      <a class="btn btn-primary mb-10" href="{{ url_for('Add_Restaurant') }}">Add new restaurant</a>
      <br><br>
      
      <table class="table table-striped">
        <tr>
          <th>Name</th>
        </tr>
        {% for restaurant in restaurants %}
        <tr class="container-fluid restaurant">
          <td class="col-sm-8">
            <div class="inline-blocks">
              <a class="rest-name" href="{{ url_for('Show_Restaurant', rest_id=restaurant.id) }}">{{ restaurant.name }}</a>
              <div class="float-right">
                <a class="btn btn-warning" href="{{ url_for('Edit_Restaurant', rest_id=restaurant.id) }}">Edit</a>
                <a class="btn btn-danger" href="{{ url_for('Delete_Restaurant', rest_id=restaurant.id) }}">Delete</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>

      <footer>
        &copy; Justin Tadlock<br><br>
        Background courtesy of <br>
        <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@keithmisner?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Keith Misner"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Keith Misner</span></a>
      </footer>
    </div>
  </body>
</html>