{% extends "base.html" %}
  
{% block content %}
  <a class="btn btn-primary mb-10" href="{{ url_for('Add_Restaurant') }}">Add new restaurant</a>
  <br><br>

  <table class="table table-striped">
    <tr>
      <th>Name</th>
    </tr>
    {% for restaurant in restaurants %}
    <tr class="container-fluid restaurant">
      <td class="col-sm-8">
        <div class="inline-blocks">
          <a class="rest-name" href="{{ url_for('Show_Restaurant', rest_id=restaurant.id) }}">{{ restaurant.name }}</a>
          <div class="float-right auth-btns">
            <a class="btn btn-warning" href="{{ url_for('Edit_Restaurant', rest_id=restaurant.id) }}">Edit</a>
            <a class="btn btn-danger" href="{{ url_for('Delete_Restaurant', rest_id=restaurant.id) }}">Delete</a>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}